body {
	margin: 0;
	padding: 0;
	font-family: Proxima Nova Light, sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
.container {
	width: 1100px;
	margin: 0 auto;
}
ul li {
	display: inline-block;
}
a {
	text-decoration: none;
}
/************************************/
.loading {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: wheat;
}
.loading img {
	height: 100px;
	position: relative;
	top: 40%;
	left: 40%;
}
/************************************/
.website {
	position: fixed;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	display: block;
	background-color: #002f80;
}
.website p {
	display: inline-block;
	color: #a09fa1;
	margin: 10px 0 0 30px;
}
.website p span {
	color: #1695e2;
	margin-right: 60px;
}
.website a {
	padding: 3px 20px;
	border: 2px solid #a09fa1;
	color: #a09fa1;
	float: right;
	margin: 5px 20px;
}
.website a:hover {
	color: #1695e2;
	border-color: #1695e2;
}
/************************************/
header {
	margin-top: 40px;
	max-height: 760px;
	background-image: url(../img/header-bg.jpg);
}
header .headerTop {
	height: 100px;
}
header .headerTop img {
	float: left;
	height: 50px;
	margin: 25px;
}
header .heaerTop ul {
	float: right;
}
header .headerTop ul li {
	list-style: none;
	float: right;
	margin-left: 8px;
}
header .headerTop ul li a:hover {
	color: #f3bb00;
}
header .headerTop ul li a {
	display: inline-block;
	color: #a09fa1;
}
header .headerTop ul li a img {
	height: 20px;
	margin-top: 35px;
}
header .headerTop ul li a p {
	padding: 37px 0;
	font-size: 14pt;
	font-weight: lighter;
	display: inline-block;
}
header .headerBottom p {
	color: #f7f7f7;
	text-align: center;
	padding: 150px 0;
	letter-spacing: 3px;
	font-size: 34pt;
}
.installButton {
	width: 550px;
	height: 60px;
	background-color: #3baf4e;
	border-bottom: 5px solid #227a3a;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	color: #f7f7f7;
	font-size: 15pt;
	margin-bottom: 15px;
}
.installButton img {
	height: 20px;
	margin: 0 15px;
}
.installButton:hover {
	height: 60px;
	border: none;
	background-color: #4abd59;
}
/************************************/
section {
	display: block;
	padding: 75px 0;
}
/************************************/
.secH3 {
	font-size: 25pt;
	font-family: sans-serif;
	text-align: center;
	font-weight: 400;
}
.secTitle {
	text-align: center;
	color: #7f8080;
	font-size: 18pt;
	font-weight: lighter;
	padding: 10px 0 40px 0;
}
.section1 .art {
	display: block;
	margin-top: 20px;
}
.section1 .art article {
	width: 270px;
	display: inline-block;
	vertical-align: top;
}
.section1 .art article:last-of-type {
	float: right;
}
.section1 .art article img {
	width: 250px;
	display: block;
	margin: 0 auto;
}
.section1 .art article h3 {
	margin: 20px 0;
	text-align: center;
}
.section1 .art article p {
	text-align: center;
}
/************************************/
.section2 {
	background-color: #f7f7f7;
}
.section2 img {
	width: 47%;
	vertical-align: top;
	margin: 25px 0;
	box-shadow: lightgray 5px 5px 15px;
}
.section2 img:last-of-type {
	float: right;
}
/************************************/
.section3 {
	color: #f7f7f7;
	background-color: #293a57;
}
.section3 h3 {
	font-size: 30pt;
	text-align: center;
	margin-bottom: 20px;
}
.section3 p {
	font-size: 150pt;
	text-align: center;
	margin-bottom: 20px;
}
.other {
	display: inline;
	text-decoration: none;
	color: #a9b0bc;
	font-size: 17pt;
	margin: 0 410px;
}
.other:hover {
	color: #f3bb00;
}
/************************************/
.section4 .cont {
	width: 100%;
	display: block;
}
.section4 .container div {
	display: inline-block;
}
.section4 .left {
	width: 280px;
	float: left;
}
.section4 .left img:first-of-type {
	width: 100%;
	margin-bottom: 60px;
}
.section4 .left p {
	color: #4070b3;
	padding-bottom: 20px;
}
.section4 .left img:last-of-type {
	width: 40%;
	float: right;
	opacity: 0.4;
}
.section4 .right {
	width: 800px;
	float: right;
}
.section4 .right > span {
	font-size: 27pt;
}
.section4 .right p {
	line-height: 22pt;
	font-weight: lighter;
	padding-top: 20px;
	font-family: Light, sans-serif;
}
.section4 .right p span {
	color: #2aa751;
}
.section4 .right iframe {
	width: 100%;
	height: 350px;
	margin-top: 70px;
	background-color: #3baf4e;
	border: 20px solid #FFF;
	box-shadow: #bbbbbb 0 0 40px;
}
/************************************/
.section5 {
	background-color: #f7f7f7;
}
.section5 .secH3 {
	margin-bottom: 50px;
}
.section5 .right {
	width: 680px;
	float: right;
}
.section5 .right img {
	width: 50px;
	float: right;
	margin: 80px 0;
	cursor: pointer;
	opacity: 0.5;
}
.section5 .right img:hover {
	opacity: 1;
}
.section5 .right p {
	font-family: sans-serif;
	letter-spacing: 3px;
	width: 630px;
	text-align: justify;
}
.section5 .right p a {
	float: right;
}
.section5 .left {
	width: 400px;
	float: left;
}
.section5 .left .first {
	width: 50px;
	float: left;
	margin: 80px 0;
	cursor: pointer;
	opacity: 0.5;
}
.section5 .left .last {
	padding: 40px 0;
}
.section5 .left .first:hover {
	opacity: 1;
}
.section5 .bottom {
	clear: left;
}
.section5 .bottom ul {
	list-style: none;
	display: block;
	margin: 0 auto;
}
.section5 .bottom ul li {
	height: 60px;
	display: inline-block;
	padding: 0;
	margin-right: 16px;
	vertical-align: top;
}
.section5 .bottom ul li {
	opacity: 0.3;
}
.section5 .bottom ul li:hover,
.section5 .bottom ul li:first-of-type {
	opacity: 1;
}
.section5 .bottom ul li a {
	padding: 0;
	margin: 0;
}
.section5 .bottom ul li a img {
	height: 100%;
}
/************************************/
.section6 ul {
	list-style: none;
}
.section6 ul li {
	width: 220px;
	height: 40px;
	float: left;
	margin-bottom: 60px;
}
.section6 ul li a {
	width: 120px;
	height: 100%;
	display: block;
	margin: 0 auto;
}
.section6 ul li a img {
	height: 100%;
	display: block;
	margin: 0 auto;
}
/************************************/
.section7 {
	background-color: #f7f7f7;
}
.section7 ul li {
	width: 275px;
	height: 40px;
	margin: 30px 0 0 0;
	float: left;
}
.section7 ul li:last-of-type {
	margin-bottom: 100px;
}
.section7 ul li a {
	color: #1695e2;
}
.section7 ul li a:hover {
	color: #f3bb00;
}
.section7 ul li a p {
	padding: 10px 0;
	display: inline-block;
}
.section7 ul li a img {
	height: 100%;
	padding: 5px 10px 5px 0;
	float: left;
	box-sizing: border-box;
}
/************************************/
.section8 .secH3 {
	margin-bottom: 30px;
}
.section8 .container div {
	height: 180px;
	display: block;
}
.section8 .container div img {
	width: 49%;
	margin-bottom: 100px;
}
.section8 .container div img:hover {
	opacity: 0.7;
}
.section8 .container div .left {
	float: left;
}
.section8 .container div .right {
	float: right;
}
/************************************/
.section9 {
	background-color: #f7f7f7;
}
.section9 ul {
	height: 400px;
}
.section9 ul li {
	width: 220px;
	margin: 40px 0 0 0;
	float: left;
}
.section9 ul li a {
	color: #1695e2;
}
.section9 ul li a:hover {
	color: #f3bb00;
}
.section9 ul li a p {
	padding: 10px 0;
	text-align: center;
}
.section9 ul li a img {
	width: 70%;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}
.section9 ul li a img:hover {
	opacity: 0.7;
}
/************************************/
.section10 .secTitle {
	font-size: 16pt;
}
.section10 ul {
	height: 200px;
}
.section10 ul li {
	width: 200px;
	float: left;
	margin: 10px 37px;
}
.section10 ul li a {
	color: #1695e2;
	display: block;
	text-align: center;
}
.section9 ul li a p {
	padding: 10px 0;
}
.section10 img {
	width: 100%;
}
.section10 ul li a img:hover {
	border-radius: 7px;
	opacity: 0.7;
}
/************************************/
.section11 {
	height: 688px;
	background-image: url(../img/landing-wizard-bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: #a9b0bc;
	text-align: center;
	padding-bottom: 0;
}
.section11 h3 {
	font-size: 25pt;
}
.section11 article {
	width: 230px;
	display: inline-block;
	margin: 100px 67px;
	vertical-align: top;
	opacity: 0;
}
.section11 article img {
	width: 100px;
	display: block;
	margin: 0 auto 20px auto;
}
.section11 article p {
	font-size: 15pt;
	font-weight: lighter;
	opacity: 0;
}
/************************************/
.section12 {
	padding-top: 0;
}
.section12 button {
	display: block;
	margin: 0 auto 50px auto;
	color: #FFF;
	font-size: 40pt;
	padding: 0px 150px;
	font-weight: bolder;
	text-shadow: black 0px 0px 10px;
	border: none;
	border-radius: 10px;
	background-color: #3e5a99;
}
.section12 button:hover {
	opacity: 0.7;
	border-radius: 5px;
}
/************************************/
footer {
	padding: 40px 0;
	height: 500px;
	color: #7f8080;
	background-color: #f7f7f7;
}
.footerTopP {
	display: block;
	text-align: center;
	margin-bottom: 100px;
}
.footerTopP a {
	color: #1695e2;
}
.footerTopP a:hover {
	color: #f3bb00;
}
footer nav {
	display: block;
	margin-bottom: 210px;
}
footer nav ul {
	width: 366px;
	display: inline-block;
	float: left;
}
footer nav ul li {
	display: block;
	margin-bottom: 10px;
	font-size: 10pt;
}
footer ul li a {
	color: #7f8080;
	display: block;
}
footer ul li a:hover {
	color: #1695e2;
}
footer hr {
	margin: 50px 0;
}
footer .footerBottom div {
	width: 366px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	float: left;
	filter: 
}
footer .footerBottom .left p {
	padding: 40px 0;
	font-size: 10pt;
}
footer .footerBottom .middle button {
	width: 200px;
	height: 40px;
	border: 2px solid #7f8080;
	border-radius: 5px;
	color: #7f8080;
	background: none;
	display: block;
	margin: 15px auto;
	font-size: 11pt;
}
footer .footerBottom .middle button img {
	height: 18px;
	float: left;
	margin: 1px 20px;
}

footer .footerBottom .middle button:hover {
	border-color: #1695e2;
	color: #1695e2;
}